<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Inline - Block</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="inlineBlock.css" type="text/css"/>
    </head>
    <body>
        <p>
            Lorem ipsum dolor sit amet,m ne senserit his id, te his quidam civibus.
            quaestio erroribus, cu sea graeci dicunt accusam. Nam cu nulla delicatissimi, 
            ea quot ancillae qualisque mel, ut sea oportere iracundia. An has consequat efficiantur.
            Falli nominati mea ex. Per natum ad, conceptam reformidans vel ei, ius in diam malis molestiae.
            Eruditi patrioque mea ex, <a href="">INLINE</a> eros omittam in mei. Sit brute fugit nonumy no.
            Mazim laoreet maluisset sit id, ad nam regione percipit. In ubique intellegebat sea,
            modus mazim ex vel, mundi hendrerit mei et. Per solum evertitur ad. Vim ea illum rationibus. 
            Eu sensibus gloriatur eloquentiam vis, ius eu prima inimicus, pri no habeo offendit voluptatibus.
            Vero legere ut cum, reque ubique ut qui. His hinc congue fierent cu, forensibus voluptaria appellantur eos ei.
            Cu ips
        </p>
        
        <br><br><br>
        
         <p class="block">
            Lorem ipsum dolor sit amet,m ne senserit his id, te his quidam civibus.
            quaestio erroribus, cu sea graeci dicunt accusam. Nam cu nulla delicatissimi, 
            ea quot ancillae qualisque mel, ut sea oportere iracundia. An has consequat efficiantur.
            Falli nominati mea ex. Per natum ad, conceptam reformidans vel ei, ius in diam malis molestiae.
            Eruditi patrioque mea ex, <a href="">BLOCK</a> eros omittam in mei. Sit brute fugit nonumy no.
            Mazim laoreet maluisset sit id, ad nam regione percipit. In ubique intellegebat sea,
            modus mazim ex vel, mundi hendrerit mei et. Per solum evertitur ad. Vim ea illum rationibus. 
            Eu sensibus gloriatur eloquentiam vis, ius eu prima inimicus, pri no habeo offendit voluptatibus.
            Vero legere ut cum, reque ubique ut qui. His hinc congue fierent cu, forensibus voluptaria appellantur eos ei.
            Cu ips
        </p>
        
        <br><br><br>
        
        <p class="inline-block">
            Lorem ipsum dolor sit amet,m ne senserit his id, te his quidam civibus.
            quaestio erroribus, cu sea graeci dicunt accusam. Nam cu nulla delicatissimi, 
            ea quot ancillae qualisque mel, ut sea oportere iracundia. An has consequat efficiantur.
            Falli nominati mea ex. Per natum ad, conceptam reformidans vel ei, ius in diam malis molestiae.
            Eruditi patrioque mea ex, <a href="">INLINE BLOCK</a> eros omittam in mei. Sit brute fugit nonumy no.
            Mazim laoreet maluisset sit id, ad nam regione percipit. In ubique intellegebat sea,
            modus mazim ex vel, mundi hendrerit mei et. Per solum evertitur ad. Vim ea illum rationibus. 
            Eu sensibus gloriatur eloquentiam vis, ius eu prima inimicus, pri no habeo offendit voluptatibus.
            Vero legere ut cum, reque ubique ut qui. His hinc congue fierent cu, forensibus voluptaria appellantur eos ei.
            Cu ips
        </p>
    </body>
</html>
