<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Menu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="menu.css" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="footer.css" type="text/css"/>
        <script src="menu.js"></script>
    </head>

    <body onresize="displayViewPortWidthHeight('example-container')"> 

        <script language = "javascript">
            function displayViewPortWidthHeight(elementId) {
                document.getElementById(elementId).innerHTML = "width:" + $(document).width() + "<br>" + "height: " + $(document).height();
            }
        </script>


        <div class="menu-container" id="menu-container">

            <ul class="ul-mobile">
                <li>
                    <a href="#" class="menu-title">Company Name</a>
                </li>
                <li class="li-mobile-menu">
                    <a href="#" class="a-mobile-onclick-expand"><img onerror="imageNotFound(this)" src='http://www.mixcont.com/_files/_suw16_b/images/menu-mobile-light-grey.png'></a>

                    <ul><!--Sub level one-->
                        <li>
                            <a href="#" class="a-can-be-active">Sub-Link 1</a>
                        </li>
                        <li>
                            <a href="#" class="a-can-be-active">Sub-Link 2</a>
                        </li>
                        <li>
                            <a href="#" class="a-can-be-active">Sub-Link 3</a>
                        </li>
                        <li>
                            <a href="#" class="a-can-be-active">Sub-Link 4</a>
                        </li>
                    </ul><!--/Sub level one-->
                </li>
            </ul>

            <ul class="ul-initial">
                <li>
                    <a href="#" class="menu-title">Company Name</a>
                </li>
                <li>
                    <a href="#" class="a-can-be-active">Link1</a>
                </li>
                <li>
                    <a href="#" class="a-can-be-active">Link2</a>
                </li>
                <li>
                    <a href="#" class="a-can-be-active">Link3</a>
                </li>
                <li>
                    <a href="#" class="a-can-be-active">Link4</a>
                </li>
            </ul>
        </div>

        <div class="example-container" id="example-container">

        </div>

        <div class="footer-container-main">
            
        </div>

        <!--script language = "javascript">
            $(function() {
                $(".footer-container-main").load("footerCommon.html");
            });
        </script-->

    </body>
</html>
