<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Menu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="menu.css" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>
    <body>

        <script language = "javascript" >

            $(document).ready(function() {
                navBarFixedPositionFix("menu-container", "example-container");
            });

            /**
             * This one is needed if you want to have "fixed" position for the NavBar
             * @param {type} navBarContainerId - the id of the container
             * @param {type} elemToSetMarginTopOn - id of the element which is direct under the navbar
             * @returns {unresolved}
             */
            function navBarFixedPositionFix(navBarContainerId, elemToSetMarginTopOn) {
                //
                var pos = $("#" + navBarContainerId).css("position");
                //
                console.log("css-position: " + pos);
                //
                if (pos === "fixed" === false) {
                    return;
                }
                //
                var height = $("#" + navBarContainerId).outerHeight();
                var elemMarginTop = document.getElementById(elemToSetMarginTopOn);
                elemMarginTop.style.marginTop = height + "px";
            }

            function fadeIn(element) {
                var parent = element.parentNode;
                var elemntArray = parent.childNodes;
                for (i = 0; i < elemntArray.length; i++) {
                    if (elemntArray[i].tagName === "UL") {
                        $(elemntArray[i]).css({opacity: 0, visibility: "visible"}).animate({opacity: 1}, 500);
                    }
                }
            }

            function setActive(element) {
                resetAllActives();
                element.className = "activeLink";
            }

            function resetAllActives() {
                var elemntArray = $("." + "activeLink").get();

                for (i = 0; i < elemntArray.length; i++) {
                    elemntArray[i].className = "none";
                }
            }
        </script>

        <div class="menu-container" id="menu-container">

            <ul>
                <li>
                    <a href="#" class="menu-title">Company Name</a>
                </li>
                <li>
                    <a href="#" onclick="setActive(this);">Link1</a>
                </li>
                <li>
                    <a href="#" onmouseover="fadeIn(this);" onclick="setActive(this);">Link2</a>
                    <ul><!--Sub level one-->
                        <li>
                            <a href="#" onclick="setActive(this);">Sub-Link 1</a>
                        </li>
                        <li>
                            <a href="#" onmouseover="fadeIn(this);" onclick="setActive(this);">Sub-Link 2</a>
                            <ul><!--Sub level two-->
                                <li>
                                    <a href="#">Sub-Sub-Link 1</a>
                                </li>
                                <li>
                                    <a href="#">Sub-Sub-Link 2</a>
                                </li>
                                <li>
                                    <a href="#">Sub-Sub-Link 3</a>
                                </li>
                                <li>
                                    <a href="#">Sub-Sub-Link 4</a>
                                </li>
                            </ul><!--/Sub level two-->
                        </li>
                        <li>
                            <a href="#">Sub-Link 3</a>
                        </li>
                        <li>
                            <a href="#">Sub-Link 4</a>
                        </li>
                    </ul><!--/Sub level one-->
                </li>
                <li>
                    <a href="#" onclick="setActive(this);">Link3</a>
                </li>
                <li>
                    <a href="#" onclick="setActive(this);">Link4</a>
                </li>
            </ul>
        </div>

        <div class="example-container" id="example-container">
            #
        </div>

    </body>
</html>
