<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Menu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" href="navbar/menu.css" type="text/css"/>
        <link rel="stylesheet" href="content/css/about.css" type="text/css"/>
         <link rel="stylesheet" href="footer/footer.css" type="text/css"/>
        <script src="navbar/menu.js"></script>
        <script src="content/css/menu.js"></script>
        <script src="js/include.js"></script>
    </head>

    <body onresize="displayViewPortWidthHeight('example-container')"> 

        <script language = "javascript">
            function displayViewPortWidthHeight(elementId) {
                document.getElementById(elementId).innerHTML = "width:" + $(document).width() + "<br>" + "height: " + $(document).height();
            }
        </script>


        <div class="menu-container" id="menu-container">
            <!--inserted from navbar/menu.js-->
        </div>


        <div class="introduction" id="introduction">
              <!--inserted from js/include.js-->
        </div>
        
        <div class="footer-container-main" id="footer-container-main">

        </div>

    </body>
</html>
