<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Products</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" href="css/bootGrids.css" type="text/css"/>
        <link rel="stylesheet" href="css/forAll.css" type="text/css"/>
        <link rel="stylesheet" href="navbar/menu.css" type="text/css"/>
        <link rel="stylesheet" href="content/css/products.css" type="text/css"/>
        <script src="navbar/navbar.js"></script>
    </head>

    <body> 

        <script language = "javascript">
            $(document).ready(function() {
                //
                includeNavbar();
                //
            });

            function includeNavbar() {
                $("#menu-container").load("navbar/navbar.html", function() {
                    //
                    addEventsToLinks();
                    //
                    navBarFixedPositionFix("menu-container", "products-main");
                    //
                    icludeContent();
                    //
                });
            }
            
            
            function icludeContent() {
                $("#products-main").load("content/products/products_overview.html", function() {
                    icludeFooter();
                });
            }


            function icludeFooter() {
                $("#footer-container-main").load("footer/footer.html", function() {

                });
            }

        </script>


        <div class="menu-container" id="menu-container">
        </div>

        <div class="products-main" id="products-main">
            
        </div>
        
        <div class="mccontrol" id="mccontrol">
            
        </div>
      
        <div class="footer-container-main" id="footer-container-main">
        </div>

    </body>
</html>
