html,body{
    height:100vh;
}

.test-container{
    margin-top: 20px;
    width: 80%;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    background-color:#c0c0c0;
}

.dices-container-main{
    width: 12%;
    height: 90vh;
    background-color: gray;
    float: right;
}

.dice-container{
    padding: 5px;
    width: 80%;
    height:17%;
    background-color: #00ffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dice-container img{
    width: 100px;
    height: 100px;
}