table, th, td {
    border: 1px solid black;
}

.col-selected{
    border: 3px solid blue;
}

.col-special{
    background-color: lightcyan !important;
}

.empty-th{
    border-top: 1px none black;
    border-left: 1px none black;
}

.active-player{
   background-color: lightpink;
}

.possible-alternative{
    background-color: lightyellow !important;
}

.possible-alternative:hover{
    cursor: pointer;
}

.active-player-col{
    background-color: lightgreen;
}

/*.active-player-col:not(.col-special):hover{
    cursor: pointer;
}*/

.name-col-special, .col-special{
    border: 2px solid black;
    font-weight: bold;
}