<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Test Yatzi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/dice.css" type="text/css"/>
         <link rel="stylesheet" href="css/playerCard.css" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="js/yatzy.js"></script>
        <script src="js/spelplan.js"></script>
    </head>

    <body>
        <div class="test-container">
            <input type="button" value="test btn" id="testBtn">
            <!--div class="dices-container-main">
                <img src="" alt="" class="dice-img">
                <img src="" alt="" class="dice-img">
                <img src="" alt="" class="dice-img">
                <img src="" alt="" class="dice-img">
                <img src="" alt="" class="dice-img">
            </div-->
        </div>
    </body>
</html>
