<ul class="ul-mobile">
    <li>
        <a href="#" class="menu-title">Company Name</a>
    </li>
    <li class="li-mobile-menu">
        <a href="#" class="a-mobile-onclick-expand"><img onerror="imageNotFound(this)" src='http://www.mixcont.com/_files/_suw16_b/images/menu-mobile-light-grey.png'></a>

        <ul><!--Sub level one-->
            <li>
                <a href="#" class="a-can-be-active">Sub-Link 1</a>
            </li>
            <li>
                <a href="#" class="a-can-be-active">Sub-Link 2</a>
            </li>
            <li>
                <a href="#" class="a-can-be-active">Sub-Link 3</a>
            </li>
            <li>
                <a href="#" class="a-can-be-active">Sub-Link 4</a>
            </li>
        </ul><!--/Sub level one-->
    </li>
</ul>

<ul class="ul-initial">
    <li>
        <a href="#" class="menu-title">Company Name</a>
    </li>
    <li>
        <a href="#" class="a-can-be-active">Link1</a>
    </li>
    <li>
        <a href="#" class="a-can-be-active">Link2</a>
    </li>
    <li>
        <a href="#" class="a-can-be-active">Link3</a>
    </li>
    <li>
        <a href="#" class="a-can-be-active">Link4</a>
    </li>
</ul>