<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Menu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="menu.css" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>
    <body>

        <div class="menu-container">

            <script language = "javascript" >
                function fadeIn(element) {
                    var parent = element.parentNode;
                    var elemntArray = parent.childNodes;
                    for (i = 0; i < elemntArray.length; i++) {
                        if (elemntArray[i].tagName === "UL") {
                            $(elemntArray[i]).css({opacity: 0, visibility: "visible"}).animate({opacity: 1}, 500);
                        }
                    }
                }
            </script>

            <ul>
                <li>
                    <a href="link1" class="menu-title">Company Name</a>
                </li>
                <li>
                    <a href="link1">Link1</a>
                </li>
                <li>
                    <a href="link2" onmouseover="fadeIn(this)">Link2</a>
                    <ul><!--Sub level one-->
                        <li>
                            <a href="sub-link-1">Sub-Link 1</a>
                        </li>
                        <li>
                            <a href="sub-link-2" onmouseover="fadeIn(this)">Sub-Link 2</a>
                            <ul><!--Sub level two-->
                                <li>
                                    <a href="sub-link-1">Sub-Sub-Link 1</a>
                                </li>
                                <li>
                                    <a href="sub-link-2">Sub-Sub-Link 2</a>
                                </li>
                                <li>
                                    <a href="sub-link-3">Sub-Sub-Link 3</a>
                                </li>
                                <li>
                                    <a href="sub-link-4">Sub-Sub-Link 4</a>
                                </li>
                            </ul><!--/Sub level two-->
                        </li>
                        <li>
                            <a href="sub-link-3">Sub-Link 3</a>
                        </li>
                        <li>
                            <a href="sub-link-4">Sub-Link 4</a>
                        </li>
                    </ul><!--/Sub level one-->
                </li>
                <li>
                    <a href="link3">Link3</a>
                </li>
                <li>
                    <a href="link1">Link4</a>
                </li>
            </ul>
        </div>

        <div class="example-container">

        </div>

    </body>
</html>
