html,body{
    height: 100%;
}

/*To make like sidebar goes all the way down*/
body{
    background-color: #bababa;
}


aside{
    min-height: 85%;
    width: 20%;
    float: left;
    background-color: #bababa;
    padding-top: 30px;
}

.blogLink{
    width: 80%;
    padding: 10px;
    margin: 10px;
    background-color: #6666FF;
}

.blogLink a{
    display: block;
}