/*body{
    font-size: 0;
}*/

h2{
    font-weight: bold;
    text-align: center;
    font-size: 125%;
}

.item{
    display: inline-block;
    float:left;
    /*    border-style: solid;
        border-width: 2px;*/
    position: relative;
}

.item img{
    width: 100%;
    display: block;
}

.item p{
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.item:hover{
    cursor: pointer;
}

/*p = child*/
.item:hover p{
    display: block;
}

.one-third{
    width: 33.33333%;
}

.one-fourth{
    width: 25%;
}

.three-five{
    width: 75%;
}

