<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">

            <div class="row rowThird">
                <div class="col-xs-12">
                    <div class="standard-margin">
                        <a>Partners</a> 
                        <a>Contrebutors</a>
                        <a>Projects</a>
                        <a>Other</a>
                    </div>
                </div>
            </div>

            <div class="row rowThird">
                <div class="col-md-12 hidden-sm hidden-xs">
                    <p class="standard-margin">Sankta Gertuds avenue 10, 231 45, Trelleborg, Sweden</p>
                    <p>Call us at: +4670514657</p>
                </div>
            </div>

            <div class="row rowThird">
                <div class="col-xs-12"></div>
            </div>

        </div>

        <div class="col-xs-6">
            <div class="row rowHalf">
                <div class="col-xs-12"></div>
            </div>
            <div class="row rowHalf">
                <div class="col-xs-12">

                    <div class="row rowThird">
                        <div class="col-xs-12"></div>
                    </div>

                    <div class="row rowThird">
                        <div class="col-xs-12"></div>
                    </div>

                    <div class="row rowThird">
                        <div class="col-xs-12 text-align-right">
                            <p></p>
                            <p style="font-size: 11px">Company AG</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>

