.footer-container-main{
    height: 30%;
    background-color: #2A2730;
    font-size: 11pt;
    color: white;
    text-align: left;
}

.standard-margin{
    margin-top: 10px;
}

.footer-container-main a{
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: inline-block;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}

.footer-container-main a:hover{
    color: white;
}

.text-align-right{
    text-align: right;
}
