root { 
    display: block;
}

header{
    position: fixed;
    background-color: #c8c8c8;
    height: 120px;
    top: 0;
    left:0;
    right: 0;
}

header ul{
    list-style: none;
    background-color:#ffeeaa;
}


header > ul > li{
    display: inline-block;
    background-color: red;
}

header ul li a{
    background-color: #8080ff;
    display: block;
    padding: 10px 30px 10px 30px;
}

header ul ul{
    position: absolute;
    padding: 0;
    background-color: black;
    display: none;
    width: 140px;
}

header li:hover > ul{
    display: block;
}

/*************************Things needed for sub-level-two**********************/

/*This is a must to have the sub-level-two*/
header ul li{
    position: relative;
}

/*Note that this one inherits from "header" ul ul""*/
header ul ul ul{
    left: 140px;
    /*top: 20px;*/
    top: 0px;
    width: 160px;
}

