<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-md-offset-1 col-sm-2 col-xs-3"><img src="http://mixcont.com/_files/_suw16_b/mixcontWebbpage/logos/trelleborg.png" style="height: 100%; width: 100%;"></div>
        <div class="col-md-1 col-sm-2 col-xs-3"><img src="http://mixcont.com/_files/_suw16_b/mixcontWebbpage/logos/federalmogul.png" style="height: 100%; width: 100%;"></div>
        <div class="col-md-1 col-sm-2 col-xs-3"><img src="http://mixcont.com/_files/_suw16_b/mixcontWebbpage/logos/continental_logo.png" style="height: 100%; width: 100%;"></div>
        <div class="col-md-1 col-sm-2 col-xs-3"><img src="http://mixcont.com/_files/_suw16_b/mixcontWebbpage/logos/rado.png" style="height: 100%; width: 100%;"></div>
        <div class="col-md-1 col-sm-2 col-xs-3"><img src="http://mixcont.com/_files/_suw16_b/mixcontWebbpage/logos/kraiburg.png" style="height: 100%; width: 100%;"></div>
        <div class="col-md-1 col-sm-2 col-xs-3"><img src="http://mixcont.com/_files/_suw16_b/mixcontWebbpage/logos/compounds.png" style="height: 100%; width: 100%;"></div>
        <div class="col-md-1 col-sm-2 col-xs-3"><img src="http://mixcont.com/_files/_suw16_b/mixcontWebbpage/logos/qew.png" style="height: 100%; width: 100%;"></div>
        <div class="col-md-1 col-sm-2 col-xs-3"><img src="http://mixcont.com/_files/_suw16_b/mixcontWebbpage/logos/vredestein.png" style="height: 100%; width: 100%;"></div>
        <div class="col-md-1 col-sm-2 col-xs-3"><img src="http://mixcont.com/_files/_suw16_b/mixcontWebbpage/logos/pte_logo.png" style="height: 100%; width: 100%;"></div>
    </div>
</div>