    <div class="container-fluid">
        <div class="row">
            <div class="row">
                <div class="col-xs-2"><img src="http://mixcont.com/_files/_suw16_b/mixcontWebbpage/images/trelleborg.png" style="height: 100%; width: 100%;"></div>
                <div class="col-xs-2"><img src="http://mixcont.com/_files/_suw16_b/mixcontWebbpage/images/federalmogul.jpg" style="height: 100%; width: 100%;"></div>
                <div class="col-xs-2"><img src="http://mixcont.com/_files/_suw16_b/mixcontWebbpage/images/continental-logo.jpg" style="height: 100%; width: 100%;"></div>
                <div class="col-xs-2"><img src="http://mixcont.com/_files/_suw16_b/mixcontWebbpage/images/rado.png" style="height: 100%; width: 100%;"></div>
                <div class="col-xs-2"><img src="http://mixcont.com/_files/_suw16_b/mixcontWebbpage/images/kraiburg.jpg" style="height: 100%; width: 100%;"></div>
            </div>
        </div>
    </div>