<!DOCTYPE html>
<html>
  <head>
    <title>Grid in grids</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="grid.css">
    
  </head>
  <body>
    <header>
      <img class="logo" src="http://placehold.it/600x300">
      <nav>
        <ul>
          <li>
            <a href="link-1">Link 1</a>
          </li>
          <li>
            <a href="link-2">Link 2</a>
          </li>
          <li>
            <a href="link-3">Link 3</a>
          </li>
          <li>
            <a href="link-4">Link 4</a>
          </li>
        </ul>
      </nav>
      <div class="clearfix"></div>
    </header>
    <main>
      <!-- one grid item -->
      <div class="grid-item one-third">
        <a href="link1">
          <img src="http://placehold.it/800x1651">
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="grid-item one-third">
        <a href="link2">
          <img src="http://placehold.it/800x800">
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="grid-item one-third">
        <a href="link2">
          <img src="http://placehold.it/800x800">
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="grid-item one-third">
        <a href="link2">
          <img src="http://placehold.it/800x800">
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="grid-item one-third">
        <a href="link2">
          <img src="http://placehold.it/800x800">
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="grid-item one-half">
        <a href="link2">
          <img src="http://placehold.it/800x800">
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="grid-item one-half">
        <a href="link2">
          <img src="http://placehold.it/800x800">
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      
      <div class="grid-item two-thirds">
        <a href="link2">
          <img src="http://placehold.it/1600x1600">
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>


      <div class="grid-item one-third">
        <a href="link2">
          <img src="http://placehold.it/800x800">
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="grid-item one-third">
        <a href="link2">
          <img src="http://placehold.it/800x800">
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      
      <!-- sub grid below -->
      <div class="grid-item one-half sub-grid sub-grid-thirds">
        <!-- top row -->
        <div class="grid-item">
          <a href="link2">
            <img src="http://placehold.it/800x800">
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="grid-item">
          <a href="link2">
            <img src="http://placehold.it/800x800">
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="grid-item last">
          <a href="link2">
            <img src="http://placehold.it/800x800">
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <!-- middle row -->
        <div class="grid-item">
          <a href="link2">
            <img src="http://placehold.it/800x800">
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="grid-item">
          <a href="link2">
            <img src="http://placehold.it/800x800">
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="grid-item last">
          <a href="link2">
            <img src="http://placehold.it/800x800">
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <!-- bottom row -->
        <div class="grid-item bottom">
          <a href="link2">
            <img src="http://placehold.it/800x800">
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="grid-item bottom">
          <a href="link2">
            <img src="http://placehold.it/800x800">
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="grid-item last">
          <a href="link2">
            <img src="http://placehold.it/800x800">
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <!-- don't forget to clearfix! -->
        <div class="clearfix"></div>
      </div>


      <!-- keep going as usual -->
      <div class="grid-item one-half">
        <a href="link2">
          <img src="http://placehold.it/800x800">
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="clearfix"></div>
    </main>
  </body>
</html>




